@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


.container {
  
  background-color: #88B9B3;
  font-family: 'Noto Sans', sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.wrapper{
  background-color: #8F7C6B;
  min-width: 400px;
  min-height: 550px;
  padding: 10px; 
  box-sizing: border-box;
  border-radius: 10px;
  

}

input[type=text] {
  border: 8px solid white;
  border-radius: 6px;
  box-sizing: border-box;
  width: 75%;
  margin: 6px;
}

